<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Мой фрамеворк</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
<body>
| <a href="/">Главная</a>
| <a href="/about">О компании </a>
| <a href="/products">Наша продукция</a>
| <a href="/contacts">Контакты</a>
    <h1>Заголовок 1</h1>
    <p>Текст заголовка 1</p>
    <table>
        <tr class="head">
            <th></th>
            <th>Москва</th>
            <th>Москва</th>
            <th>Москва</th>
        </tr>
        <tr>
            <th>Основы Python</th>
            <td>Text 1</td>
            <td>Text 2</td>
            <td>Text 3</td>
        </tr>
         <tr class="even">
            <th>Основы Python 2</th>
            <td>Text 1</td>
            <td>Text 2</td>
            <td>Text 3</td>
        </tr>
         <tr>
            <th>Основы Django</th>
            <td>Text 1</td>
            <td>Text 2</td>
            <td>Text 3</td>
        </tr>
        <tr class="even">
            <th>Основы Flask 2</th>
            <td>Text 1</td>
            <td>Text 2</td>
            <td>Text 3</td>
        </tr>
    </table>
    <form action="" method="post">
        <fieldset>
            <legend>Зарегистрируйтесь</legend>
            <p>
                <label class="title" for="name">Ваше имя</label>
                    <input type="text" name="name" id="name"><br />
                <label class="title" for="email">Ваш емайл:</label>
                    <input type="text" name="email" id="email">
            </p>
            <p>
                <label for="location" class="title">Ближайший центр</label>
                <select name="location" id="location">
                    <option value="ny">New York</option>
                    <option value="tr">Trenton</option>
                    <option value="bs">Boston</option>
                </select>
            </p>
            <span class="title">Являетесь участником?</span>
            <label><input type="radio" name="member" value="yes" />Да</label>
            <label><input type="radio" name="member" value="no" />Нет</label>
        </fieldset>
        <div class="submit"><input type="submit" value="Регистрация"></div>
    </form>
</body>
</html>